
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>General</title>
</head>
<body>
    <div>
        <h1>400</h1>
        <h2>BAD REQUEST.</h2>
        <p>
            O Servidor não pode processar a solicitação.
            <br />
            @HttpContext.Current.Session["ErrorException"].ToString().Substring(0, 400)
        </p>
        <p>
            <a href="@Url.Action("Index", "Home")">Retornar ao início</a>
            <br />
        </p>
    </div>
</body>
</html>
