@model Modelo.Cadastros.Produto

@{
    ViewBag.Title = "Poduto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        Detalhes do Produto
    </div>
    <div class="panel-body">
        @Html.Partial("~/Views/Produtos/_PartialDetailsContentPanel.cshtml")
    </div>
    <div class="panel-footer panel-info">
        @Html.ActionLink("Alterar", "Edit", new { id = Model.ProdutoId }, new { @class = "btn btn-warning" })
        @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default" })
    </div>
</div>

@section ScriptPage
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('li').removeClass("active");
            $('#produtos').addClass("active");
        });
    </script>    
}
